In [36]:
import numpy as np
import pandas as pd

train_data = pd.read_csv("train.csv")
test_data  = pd.read_csv("dummy_test.csv")

In [3]:
train_data

,Time,OZONE,NO2,temp,humidity,no2op1,no2op2,o3op1,o3op2
0,2019-03-27 13:01:00,77.590,6.881,36.2,38.9,199.0,200.0,240.0,197.0
1,2019-03-27 13:03:00,78.710,11.057,36.3,37.7,196.0,200.0,237.0,196.0
2,2019-03-27 13:04:00,78.850,8.596,36.7,38.0,195.0,199.0,235.0,196.0
3,2019-03-27 13:07:00,79.270,7.248,37.0,37.5,193.0,198.0,233.0,195.0
4,2019-03-27 13:08:00,80.010,8.638,36.8,36.8,191.0,198.0,231.0,195.0
...,...,...,...,...,...,...,...,...,...
19995,2019-05-06 10:19:00,33.970,3.371,27.7,99.9,162.0,164.0,175.0,161.0
19996,2019-05-06 10:22:00,33.073,2.883,27.4,99.9,170.0,171.0,180.0,168.0
19997,2019-05-06 10:23:00,32.313,2.578,27.5,99.9,165.0,168.0,175.0,164.0
19998,2019-05-06 10:24:00,33.367,2.114,27.4,99.9,163.0,166.0,174.0,161.0
19999,2019-05-06 10:29:00,32.213,2.479,27.2,99.9,167.0,168.0,177.0,162.0

In [4]:
test_data

,Time,OZONE,NO2,temp,humidity,no2op1,no2op2,o3op1,o3op2
0,2019-03-27 17:05:00,71.327,8.801,41.2,28.9,179.0,194.0,220.0,192.0
1,2019-03-27 17:06:00,72.317,5.536,41.1,28.8,181.0,196.0,222.0,192.0
2,2019-03-27 17:07:00,74.440,4.574,41.0,29.0,181.0,195.0,222.0,192.0
3,2019-03-27 17:09:00,74.033,6.426,40.9,28.9,179.0,194.0,220.0,192.0
4,2019-03-27 17:13:00,73.080,5.825,40.9,28.1,181.0,195.0,222.0,193.0
...,...,...,...,...,...,...,...,...,...
4995,2019-04-14 05:36:00,8.432,24.427,31.2,99.9,201.0,204.0,203.0,202.0
4996,2019-04-14 05:41:00,9.808,19.480,31.2,99.9,197.0,204.0,199.0,201.0
4997,2019-04-14 05:42:00,8.782,17.423,31.1,99.9,199.0,204.0,200.0,201.0
4998,2019-04-14 05:44:00,9.678,16.017,31.2,99.9,200.0,204.0,201.0,202.0
4999,2019-04-14 05:45:00,9.579,14.750,31.2,99.9,198.0,204.0,199.0,201.0

In [37]:
X_train = train_data[["no2op1", "no2op2", "o3op1", "o3op2"]]
Y_train = train_data[["OZONE", "NO2"]]

In [38]:
X_test = test_data[["no2op1", "no2op2", "o3op1", "o3op2"]]
Y_test = test_data[["OZONE", "NO2"]]

In [7]:
### Models below ###

In [39]:
from sklearn.metrics import mean_absolute_error as mae

In [40]:
from sklearn.linear_model import LinearRegression

In [89]:
linreg = LinearRegression()

linreg.fit(X_train, Y_train)
Y_pred = linreg.predict(X_train)
print("MAE =", mae(Y_train, Y_pred))
print("MAE =", mae(Y_train[["NO2"]], Y_pred[:,1]))
print("MAE =", mae(Y_train[["OZONE"]], Y_pred[:,0]))

MAE = 6.083018914678867
MAE = 6.540100093842793
MAE = 5.625937735514925

In [11]:
import matplotlib.pyplot  as plt

In [12]:
from sklearn.linear_model import Ridge, Lasso

In [44]:
ridge = Ridge(alpha = 10)
ridge.fit(X_train, Y_train)
Y_pred = ridge.predict(X_test)
print("MAE =", mae(Y_test, Y_pred))

MAE = 6.114020194736996

In [49]:
ridge = Ridge(alpha = 0.0010)
ridge.fit(X_train, Y_train)
Y_pred = ridge.predict(X_test)
print("MAE =", mae(Y_test, Y_pred))

MAE = 6.114016019178204

In [57]:
ridge = Ridge(alpha = 100)
ridge.fit(X_train, Y_train)
Y_pred = ridge.predict(X_train)
print("MAE =", mae(Y_train, Y_pred))

MAE = 6.082783654095026

In [88]:
ridge = Ridge(alpha = 1000)
ridge.fit(X_train, Y_train)
Y_pred = ridge.predict(X_train)
print("MAE =", mae(Y_train, Y_pred))
print("MAE =", mae(Y_train[["NO2"]], Y_pred[:,1]))
print("MAE =", mae(Y_train[["OZONE"]], Y_pred[:,0]))

MAE = 6.0817467345623175
MAE = 6.536821620242424
MAE = 5.626671848882224

In [85]:
lasso = Lasso(alpha = 0.0001)
lasso.fit(X_train, Y_train)
Y_pred = lasso.predict(X_train)
print("MAE =", mae(Y_train[["NO2"]], Y_pred[:,1]))
print("MAE =", mae(Y_train[["OZONE"]], Y_pred[:,0]))

MAE = 6.537024370281168
MAE = 5.625934686641408

/home/dwijrajhari/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.604e+05, tolerance: 7.077e+02
  model = cd_fast.enet_coordinate_descent(
/home/dwijrajhari/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.275e+05, tolerance: 2.355e+02
  model = cd_fast.enet_coordinate_descent(

In [87]:
lasso = Lasso(alpha = 0.00001)
lasso.fit(X_train, Y_train)
Y_pred = lasso.predict(X_train)
print("MAE =", mae(Y_train[["NO2"]], Y_pred[:,1]))
print("MAE =", mae(Y_train[["OZONE"]], Y_pred[:,0]))

MAE = 6.537028661060859
MAE = 5.625934951112157

/home/dwijrajhari/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.622e+05, tolerance: 7.077e+02
  model = cd_fast.enet_coordinate_descent(
/home/dwijrajhari/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.289e+05, tolerance: 2.355e+02
  model = cd_fast.enet_coordinate_descent(

In [16]:
from sklearn.svm import SVR

In [32]:
svr = SVR()
svr.fit(X_train, Y_train.to_numpy()[:,0])
Y_pred = svr.predict(X_test)
print("MAE =", mae(Y_test, Y_pred))

ValueError: y_true and y_pred have different number of output (2!=1)

In [17]:
Y_train[["OZONE"]].to_numpy()

array([[77.59 ],
       [78.71 ],
       [78.85 ],
       ...,
       [32.313],
       [33.367],
       [32.213]])

In [31]:
Y_train.to_numpy()[:,0]

array([77.59 , 78.71 , 78.85 , ..., 32.313, 33.367, 32.213])